<div id="wrapper">
  <h3 class="day"><%= Time.now.strftime("Happy %A !")%></h3>
  <header id="header" class="clearfix" role="banner">

    <hgroup>
      <h1 class="company_logo">Company logo</h1>
      <h2 class="company_slogan">Creating fresh, flexible and fast-growing web-applications!</h2>
    </hgroup>

  </header> <!-- #header -->

<!-- Navigation -->
<nav id="menu" class="nav_bar" role="navigation">
  <ul>
    <li class="nav_link"><%=link_to("Home",home_index_path)%></li>
    <li class="nav_link"><a href="#">Toolkit</a></li>
    <li class="nav_link"><a href="#">Services</a></li>
    <li class="nav_link"><a href="#">Poke Us</a></li>
  </ul>
</nav> <!-- #nav -->

<!-- Show a "Please Upgrade" box to both IE7 and IE6 users (Edit to IE 6 if you just want to show it to IE6 users) - jQuery will load the content from js/ie.html into the div -->

<!--[if lte IE 7]>
<div class="ie warning"></div>
<![endif]-->

<div id="content" role="main">

  <article class="post">
      <figure class="slide_show">
       <a href="#"><img src="" alt="Post thumbnail"  /></a>
      </figure>


    <div class="entry-content">
     <h2 class="punch_line">Frustration-free web-based application development?</h2>
      <ul>
      <li class="points">
        Do you need support for your existing Ruby on Rails application?
        Perhaps you need extra resources for a final push to launch, or you are looking for on-going development support. We can help.
      </li>

      <li class="points">
        We are there for you from the planning stages through to launch and beyond.
      </li>
      <li class="points">
        We are keen followers of Agile project management methodologies.
        Agile embraces collaboration with customers, face-to-face communication, frequent delivery and the ability to respond to changing requirements.
      </li>
      <li class="points">
        We are passionate about the technologies we use and have considerable expertise in the following areas of development:
        Ruby on Rails,
        Sqlite, Mysql,
        NoSQL - MongoDB, Redis
        JavaScript, HTML 5,CSS3
      </li>
      <li class="points">
        We work in partnership with clients to build applications that improve business efficiency, increase profitability and provide a competitive advantage.
      </li>
      <li class="points">
        Get results quickly and retain the flexibility to improve the design in response to feedback.
      </li>
      <li class="points">
      We are a true innovator in our field, our people are passionate about delivering creative solutions.

      Creating fresh, flexible and fast-growing web-applications is our passion.
      </li>
      </ul>
    </div> <!-- .entry-content -->



  </article> <!-- .post 1 -->
</div><!-- .content 1 -->


<footer class="post-meta">
  <p>
    In <a href="#" rel="category">Category Name</a>
    by <span class="author vcard"><a class="url fn n" href="#">Author name</a></span>
    on <time datetime="2011-05-14" pubdate>May 14th, 2011</time>
  </p>
  <a href="#" class="more-link">Read more</a>
</footer> <!-- .post-meta -->

</div> <!-- #wrapper -->

