// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day{
  color:#CCCCCC;
  width: 200px;
  height: 23px;
  #float:left; 
}

.company_logo,{
color:#3366CC;
margin-left:40%;
padding:1%;
}

.company_slogan{
color:#3399FF;
margin-left:30%;
}

.nav_bar{
display:inline;
float:right;
border:2px outset #333399;
background-color:#82D23D;
margin-right:-8px;
-moz-border-radius: 25px 0px 0px 25px;
-webkit-border-radius: 25px 0px 0px 25px;
# border-radius: 15px;
}
.nav_link {
padding-top:25%;
list-style-type: none;
}
.nav_link a{
color:#FFFFFF;
text-decoration:none;
}