// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day{
  color:#CCCCCC;
  width: 240px;
  height: 23px;
  #float:left;
}
.company_logo,{
  color:#3366CC;
  margin-left:40%;
  padding:1%;
}
.company_slogan{
    width:750px;
    text-align:center;
    color:#3399FF;
    margin-left:25%;
}
.nav_bar{
  display:inline;
  float:right;
  border:2px outset #333399;
  background-color:#82D23D;
  margin-right:-8px;
  -moz-border-radius: 25px 0px 0px 25px;
  -webkit-border-radius: 25px 0px 0px 25px;
  # border-radius: 15px;
}
.nav_link {
  padding-top:45%;
  list-style-type: none;
}
.nav_link a{
  color:#FFFFFF;
  text-decoration:none;
}
.punch_line{
  margin-left:28%;
}
.slide_show{}
.points{
    padding:2px;
    list-style-type: none;
    padding :1%;
    font-size :  14px;
}
.entry-content{
    padding:2px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px  #888;
    box-shadow: 0 0 5px 5px  #888;
}

