// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day{
  color:#CCCCCC;
  width: 200px;
  height: 23px;
  #float:left; 
}

.company_logo{
color:#3366CC;
margin-left:40%;
padding:1%;
}